@use 'sass:math';

$white                   : #fff !default;
$blue                    : #007bff !default;
$black                   : #000 !default;
$gray-600                : #6c757d !default;
$gray-900                : #212529 !default;
$primary                 : $blue !default;
$body-color              : $gray-900 !default;
$text-muted              : $gray-600 !default;
$body-bg                 : $white !default;
$theme-colors            : ( "primary": $primary) !default;
$link-color              : theme-color("primary") !default;
$link-hover-color        : darken($link-color, 15%) !default;
$table-caption-color     : $text-muted !default;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base        : $font-family-sans-serif !default;
$font-size-base          : 1rem !default;
$font-weight-normal      : 400 !default;
$font-weight-base        : $font-weight-normal !default;
$font-weight-bold        : 700 !default;
$font-weight-bolder      : bolder !default;
$line-height-base        : 1.5 !default;
$spacer                  : 1rem !default;
$headings-margin-bottom  : math.div($spacer, 2) !default;
$paragraph-margin-bottom : 1rem !default;
$dt-font-weight          : $font-weight-bold !default;
$link-decoration         : none !default;
$link-hover-decoration   : underline !default;
$table-cell-padding      : .75rem !default;
$label-margin-bottom     : .5rem !default;

$enable-pointer-cursor-for-buttons: false !default;
$table-th-font-weight    : null !default;

